<form action="/computer/add" method="POST">

  <div>
    <label for="serial">Serial: </label>

    <input
      type="text"
      name="serial"
      placeholder="Ingresar serial"
      id="serial"
    />
  </div>

  <div>
    <label for="dependencia">Dependencia: </label>

    <textarea
      name="dependencia"
      placeholder="Ingresar dependencia"
      id="dependencia"
    ></textarea>
  </div>

  <button>Agregar</button>

</form>